[% PROCESS _header.tmpl %]
		<table border="0" cellspacing="0" cellpadding="10px" width="100%">
			<tr>
				<td width="80%" valign="top">
                    <!-- content starts -->

                    
                    <h1>[% artistName | html %]</h1>

                    [% IF avatar %]
                    <div id="avatarHolder"><img src="[% avatar | html %]" height="240" width="240" alt="avatar" /></div>
                    [% END %]

                    [% IF description %]
                        [% description | html_para %]
                    [% END %]

                    <!-- content ends here -->
                </td>
                <td width="20%" valign="top">
                    <table border="0" cellspacing="0" cellpadding="2" width="100%">
                        [% IF samples %]
                        <tr><td class="sidebar_header">Samples</td></tr>
                        <tr><td>
                            <table id="sample-images">
                                [% USE samplesTable = table(samples, rows=samplesPerRow) %] 
                                [% FOREACH items IN samplesTable.cols %]
                                <tr>
                                    [% FOREACH sample IN items %]
                                    <td>
                                        [% IF (sample) %]
                                        <a rel="samples" href="[% sample.i | html %]"><img height="25" width="25" src="[% sample.t | html %]" alt="sample Image"/></a>
                                        [% END %]
                                    </td>
                                    [% END %]
                                </tr>
                                [% END %]
                            </table>
                        </td></tr>
                        [% END %]

                        <tr><td class="sidebar_header">Links</td></tr>
                        <tr><td>
                            <a href="http://www.AnimeEvolution.com/" title="Anime Evolution">Anime Evolution</a><br />
                            [% FOREACH link IN links %]
                                <a href="[% link.link | html %]" title="[% link.name %]">[% link.name %]</a><br />
                            [% END %]
                        </td></tr>
                        <tr><td>&nbsp;</td></tr>
                    </table>
                </td>
            </tr>
[% PROCESS _footer.tmpl %]
