[% FOREACH artists %]
[% SET everyone = 1 %]
[% PROCESS "page-6.tmpl" %]
[% IF !loop.last %]
<hr />
[% END %]
[% END %]
<script type="text/javascript" src="[% baseDir %]artistpage.js"  defer="defer" ></script>
