<table border="0" cellspacing="0" cellpadding="10px" width="100%">
    <tr>
        <td width="100%" valign="top">
            <ul>
                [% FOREACH artist IN artists %]
                    <li>
                        [% artist | html %]
                        <!--<s><a href="[% artist | uri %].html">(1)</a> - i'm meh about it </s>
                        <s><a href="[% artist | uri %]-2.html">(2)</a> - simular to 6</s>
                        <s><a href="[% artist | uri %]-3.html">(3)</a> - simular to 4</s> -->
                        <a href="[% artist | uri %]-4.html">(4)</a>
                        <a href="[% artist | uri %]-5.html">(5)</a>
                        <a href="[% artist | uri %]-6.html">(6)</a>
                    </li>
                [% END %]
            </ul>
        </td>
    </tr>
</table>
