[%- USE Markdown -%]
<a id="[% artist | html %]" name="[% artist | html %]"></a>
<h1>[% artistName | html %]</h1>
<table border="0" cellspacing="0" cellpadding="2" width="100%">
<tr>
[% IF avatar || links %]
    <td valign="top" style="width: 260px;">
        [% IF avatar %]
        <div style="height: 240px; width: 240px; border: 1em solid black; margin-right: 0.5em; text-align: center; vertical-align: middle; background: #ECECEC url([% avatar | html %]) no-repeat center;">&nbsp;</div>
        <br />
        [% END %]

        [% IF links %]
            [% FOREACH link IN links %]
                <div><a href="[% link.link | html %]" title="[% link.name %]">[% link.name %]</a></div>
            [% END %]
        [% END %]
    </td>
[% END %]
    <td valign="top"[% IF links %]rowspan="3"[% END %]>
        <table border="0" cellspacing="0" cellpadding="2" width="100%">
            <tr><td valign="top" class="sidebar_header">About</td></tr>
            <tr><td valign="top">
                [% IF description %]
                    [% description | markdown %]
                [% END %]
        
                [% IF hasSamples %]
                <table border="0" cellspacing="0" cellpadding="2" width="100%">
                <tr>
                    <td valign="top" class="sidebar_header">Samples</td>
                </tr>
                <tr>
                    <td>
                        <table class="sample-images">
                            [% USE samplesTable = table(samples, rows=6, pad=0) %] 
                            [% FOREACH items IN samplesTable.cols %]
                            <tr>
                                [% FOREACH sample IN items %]
                                <td style="background-color:#ECECEC; margin: 0px; padding: 2px; height: 50px; width: 50px; text-align: center; border: 2px solid #284771; margin-bottom: 1em;">
                                    [% IF (sample) %]
                                    <a rel="samples_[% artist | html %]" href="[% sample.i | html %]" style="border: 0px" target="_blank"><img style="border: 0px" src="[% sample.t | html %]" alt="sample Image"/></a>
                                    [% END %]
                                </td>
                                [% END %]
                            </tr>
                            [% END %]
                        </table>
                    </td>
                    </tr>
                </table>
                [% END %]
            </td></tr>

        </table>
    </td>
</tr></table>
    
[% IF !everyone %]
<script type="text/javascript"><!--
jQuery(function() { jQuery('head').append('<script type="text/javascript" src="[% baseDir %]/_lightBox/jquery.lightbox-0.5.pack.js"><\/script>').append('<link rel="stylesheet" href="[% baseDir %]/_lightBox/jquery.lightbox-0.5.css" type="text/css" media="screen" />'); jQuery('a[rel*=samples]').lightBox({'imageLoading':'[% baseDir %]/_lightBox/lightbox-ico-loading.gif', 'imageBtnClose': '[% baseDir %]/_lightBox/lightbox-btn-close.gif', 'imageBtnPrev':'[% baseDir %]/_lightBox/lightbox-btn-prev.gif','imageBtnNext':'[% baseDir %]/_lightBox/lightbox-btn-next.gif','imageBlank':'[% baseDir %]/_lightBox/lightbox-blank.gif'}); }); 
--></script>
[% END %]
