<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

	<title>Anime Evolution 2009 &raquo; Art gallery</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<meta name="generator" content="WordPress 2.7.1" /> <!-- leave this for stats please -->

	<link rel="stylesheet" href="http://www.animeevolution.com/main/wp-content/themes/ae/style.css" type="text/css" media="screen" />
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.animeevolution.com/?feed=rss2" />
	<link rel="alternate" type="text/xml" title="RSS .92" href="http://www.animeevolution.com/?feed=rss" />
	<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://www.animeevolution.com/?feed=atom" />
	<link rel="pingback" href="http://www.animeevolution.com/main/xmlrpc.php" />

		<link rel='archives' title='May 2009' href='http://www.animeevolution.com/?m=200905' />
	<link rel='archives' title='April 2009' href='http://www.animeevolution.com/?m=200904' />
	<link rel='archives' title='March 2009' href='http://www.animeevolution.com/?m=200903' />
	<link rel='archives' title='February 2009' href='http://www.animeevolution.com/?m=200902' />
	<link rel='archives' title='January 2009' href='http://www.animeevolution.com/?m=200901' />
	<link rel='archives' title='October 2008' href='http://www.animeevolution.com/?m=200810' />
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.animeevolution.com/main/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.animeevolution.com/main/wp-includes/wlwmanifest.xml" /> 

<!-- Multi-level Navigation Plugin v2.1 by PixoPoint Web Development ... http://pixopoint.com/multi-level-navigation/ -->
<link rel="stylesheet" type="text/css" href="http://www.animeevolution.com/main/wp-content/plugins/multi-level-navigation-plugin/style.php" />
<script type='text/javascript' src='http://www.animeevolution.com/main/wp-content/plugins/countdown-timer/fergcorp_countdownTimer_java.js?ver=2.3.5'></script>
<script type='text/javascript' src='http://www.animeevolution.com/main/wp-content/plugins/countdown-timer/webtoolkit.sprintf.js?ver=2.3.5'></script>
<script type='text/javascript' src='http://www.animeevolution.com/main/wp-includes/js/jquery/jquery.js?ver=1.2.6'></script>
<script type='text/javascript' src='http://www.animeevolution.com/main/wp-content/plugins/multi-level-navigation-plugin/scripts/hoverIntent.js.php?ver=r5'></script>
<script type='text/javascript' src='http://www.animeevolution.com/main/wp-content/plugins/multi-level-navigation-plugin/scripts/superfish.js?ver=1.4.8'></script>
<script type='text/javascript' src='http://www.animeevolution.com/main/wp-content/plugins/multi-level-navigation-plugin/scripts/superfish_settings.js.php?ver=1.0'></script>
<meta name="generator" content="WordPress 2.7.1" />


	<link rel="stylesheet" type="text/css" href="http://www.animeevolution.com/main/wp-content/themes/ae/tabcontent.css" />

	<script type="text/javascript" src="http://www.animeevolution.com/main/wp-content/themes/ae/tabcontent.js">
	

	/***********************************************
	* Tab Content script v2.2- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
	* This notice MUST stay intact for legal use
	* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
	***********************************************/

	</script>

	
</head>
<body background="http://www.animeevolution.com/main/wp-content/themes/ae/images/bg.jpg" style="padding;0px; margin: 0px;">
<table border="0" cellspacing="0" cellpadding="0" align="center" width="997">
	<tr>
		<td colspan="2"><img src="http://www.animeevolution.com/main/wp-content/themes/ae/images/top.gif"></td>
	</tr>
	<tr>
		<td colspan="2">
			<table border="0" cellspacing="0" cellpadding="0"><tr>
				<td><img src="http://www.animeevolution.com/main/wp-content/themes/ae/images/menu_left.jpg"></td>
				<td>
<!-- Multi-level Navigational Plugin by PixoPoint Web Development ... http://pixopoint.com/multi-level-navigation/ -->

<div id="pixopoint_menu_wrapper1">
	<div id="pixopoint_menu1">
		<ul class="sf-menu" id="suckerfishnav"><li><a href="http://www.animeevolution.com/">Home</a></li><li class="page_item page-item-1071 haschildren"><a href="http://www.animeevolution.com/?page_id=1071" >Registration</a>
<ul>
	<li class="page_item page-item-1073"><a href="http://www.animeevolution.com/?page_id=1073" >Register</a></li>
	<li class="page_item page-item-1075"><a href="http://www.animeevolution.com/?page_id=1075" >Paypal guide</a></li>
	<li class="page_item page-item-1077"><a href="http://www.animeevolution.com/?page_id=1077" >FAQ</a></li>
	<li class="page_item page-item-1079"><a href="http://www.animeevolution.com/?page_id=1079" >Pre-reg list</a></li>
	<li class="page_item page-item-1083"><a href="http://www.animeevolution.com/?page_id=1083" >Hotels</a></li>
	<li class="page_item page-item-1088"><a href="http://www.animeevolution.com/?page_id=1088" >Policies</a></li>
	<li class="page_item page-item-1090"><a href="http://www.animeevolution.com/?page_id=1090" >Convention Rules</a></li>
	<li class="page_item page-item-1092"><a href="http://www.animeevolution.com/?page_id=1092" >Weapons Policy</a></li>
</ul>
</li>
<li class="page_item page-item-1094 haschildren"><a href="http://www.animeevolution.com/?page_id=1094" >Programming</a>
<ul>
	<li class="page_item page-item-1098"><a href="http://www.animeevolution.com/?page_id=1098" >Guests</a></li>
	<li class="page_item page-item-1104"><a href="http://www.animeevolution.com/?page_id=1104" >Events</a></li>
	<li class="page_item page-item-1106 haschildren"><a href="http://www.animeevolution.com/?page_id=1106" >Contests</a>
	<ul>
		<li class="page_item page-item-1108"><a href="http://www.animeevolution.com/?page_id=1108" >AE mascot contest</a></li>
		<li class="page_item page-item-1110"><a href="http://www.animeevolution.com/?page_id=1110" >Cosplay contest</a></li>
		<li class="page_item page-item-1112"><a href="http://www.animeevolution.com/?page_id=1112" >Fanfic/fanart contest</a></li>
		<li class="page_item page-item-1114"><a href="http://www.animeevolution.com/?page_id=1114" >Gundam building contest</a></li>
		<li class="page_item page-item-1120"><a href="http://www.animeevolution.com/?page_id=1120" >Anime idol</a></li>
		<li class="page_item page-item-1122"><a href="http://www.animeevolution.com/?page_id=1122" >AMV contest</a></li>
		<li class="page_item page-item-1125"><a href="http://www.animeevolution.com/?page_id=1125" >Anime&#8217;s best dance crew</a></li>
	</ul>
</li>
	<li class="page_item page-item-1137"><a href="http://www.animeevolution.com/?page_id=1137" >AMV</a></li>
	<li class="page_item page-item-1139"><a href="http://www.animeevolution.com/?page_id=1139" >Gaming</a></li>
	<li class="page_item page-item-1141"><a href="http://www.animeevolution.com/?page_id=1141" >Dances</a></li>
	<li class="page_item page-item-1144"><a href="http://www.animeevolution.com/?page_id=1144" >Karaoke box</a></li>
	<li class="page_item page-item-1146"><a href="http://www.animeevolution.com/?page_id=1146" >Panel submissions</a></li>
</ul>
</li>
<li class="page_item page-item-1148 current_page_ancestor current_page_parent haschildren"><a href="http://www.animeevolution.com/?page_id=1148" >Vendors</a>
<ul>
	<li class="page_item page-item-1150"><a href="http://www.animeevolution.com/?page_id=1150" >AE merchandise</a></li>
	<li class="page_item page-item-1152"><a href="http://www.animeevolution.com/?page_id=1152" >Dealers</a></li>
	<li class="page_item page-item-1154 current_page_item"><a href="http://www.animeevolution.com/?page_id=1154" >Art gallery</a></li>
	<li class="page_item page-item-1156"><a href="http://www.animeevolution.com/?page_id=1156" >Artists alley</a></li>
</ul>
</li>
<li class="page_item page-item-1158 haschildren"><a href="http://www.animeevolution.com/?page_id=1158" >Sponsors</a>
<ul>
	<li class="page_item page-item-1160"><a href="http://www.animeevolution.com/?page_id=1160" >Our sponsors</a></li>
	<li class="page_item page-item-1166"><a href="http://www.animeevolution.com/?page_id=1166" >Become a sponsor</a></li>
</ul>
</li>
<li class="page_item page-item-1168 haschildren"><a href="http://www.animeevolution.com/?page_id=1168" >Press</a>
<ul>
	<li class="page_item page-item-1170"><a href="http://www.animeevolution.com/?page_id=1170" >Press releases</a></li>
	<li class="page_item page-item-1172"><a href="http://www.animeevolution.com/?page_id=1172" >Publications</a></li>
	<li class="page_item page-item-1175"><a href="http://www.animeevolution.com/?page_id=1175" >Photos</a></li>
	<li class="page_item page-item-1177"><a href="http://www.animeevolution.com/?page_id=1177" >Videos</a></li>
	<li class="page_item page-item-1179"><a href="http://www.animeevolution.com/?page_id=1179" >Flyers</a></li>
	<li class="page_item page-item-1181"><a href="http://www.animeevolution.com/?page_id=1181" >Media application</a></li>
	<li class="page_item page-item-1183"><a href="http://www.animeevolution.com/?page_id=1183" >Media FAQ</a></li>
</ul>
</li>
<li class="page_item page-item-1185"><a href="http://www.animeevolution.com/?page_id=1185" >Community</a></li>
<li class="page_item page-item-1187"><a href="http://www.animeevolution.com/?page_id=1187" >Volunteer</a></li>
<li class="page_item page-item-1189 haschildren"><a href="http://www.animeevolution.com/?page_id=1189" >About</a>
<ul>
	<li class="page_item page-item-1191"><a href="http://www.animeevolution.com/?page_id=1191" >Location and map</a></li>
	<li class="page_item page-item-1197"><a href="http://www.animeevolution.com/?page_id=1197" >History</a></li>
	<li class="page_item page-item-1199"><a href="http://www.animeevolution.com/?page_id=1199" >Executive board</a></li>
	<li class="page_item page-item-1201"><a href="http://www.animeevolution.com/?page_id=1201" >Contact us</a></li>
	<li class="page_item page-item-1203"><a href="http://www.animeevolution.com/?page_id=1203" >General meetings</a></li>
	<li class="page_item page-item-1205"><a href="http://www.animeevolution.com/?page_id=1205" >FAQ</a></li>
</ul>
</li>
</ul>
	</div>
</div>
</td>
			</tr></table></td>
	</tr>
	<tr>
		<td valign="top" width="34"><img src="http://www.animeevolution.com/main/wp-content/themes/ae/images/left.jpg" style="margin:0px; padding:0px;"></td>
		<td valign="top" bgcolor="#FFFFFF">
		<table border="0" cellspacing="0" cellpadding="10px" width="100%">
			<tr>
				<td width="80%" valign="top">
<!-- content starts -->
