<!-- content ends here -->
</td>
<td width="20%" valign="top">
	<table border="0" cellspacing="0" cellpadding="2" width="100%">
			<tr><td align="center"><a href="http://www.animeevolution.com/?page_id=1073"><img src="http://www.animeevolution.com/main/wp-content/themes/ae/images/register.jpg" alt="Register" border="0"/></a></td></tr>
		<tr><td align="center"><a href="http://animeevolution.net"><img src="http://www.animeevolution.com/main/wp-content/themes/ae/images/forum.jpg" border="0" alt="forum" /></a></td></tr>
		<tr><td align="center"><a href="http://www.animeevolution.com/?page_id=1083"><img src="http://www.animeevolution.com/main/wp-content/themes/ae/images/hotel.jpg" border="0" alt="hotel" /></a></td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td bgcolor="#eeeeee" style="padding: 5px;">
		<h3><b>Anime Evolution begins...</b></h3>
<abbr title = "June 12th, 2009, 1:00 am" style="border: 0px;"><span id = 'xd14c50ccf478795f08c67767d465740c'>in 34 days,  23 hours,  48 minutes</span></abbr></td></tr>
		<tr><td>&nbsp;</td></tr>

		<tr><td class="sidebar_header">Search</td></tr>
		<tr><td><form method="get" id="searchform" action="http://www.animeevolution.com">
<input type="text" class="search_input" value="To search, type and hit enter" name="s" id="s" onfocus="if (this.value == 'To search, type and hit enter') {this.value = '';}" onblur="if (this.value == '') {this.value = 'To search, type and hit enter';}" size="30" />
<input type="hidden" id="searchsubmit" value="Search" />
</form>
</td></tr>
		<tr><td>&nbsp;</td></tr>

		<tr><td class="sidebar_header">Quicklinks</td></tr><tr><td>
	<ul class='xoxo blogroll'>
<li><a href="http://www.animeevolution.com/?page_id=1098">2009 Guests</a></li>
<li><a href="http://www.facebook.com/home.php?#/group.php?gid=24273308804&amp;ref=ts">AE Facebook group</a></li>
<li><a href="http://community.livejournal.com/anime_evolution/">Livejournal</a></li>
<li><a href="http://groups.myspace.com/index.cfm?fuseaction=groups.groupProfile&amp;groupID=100560616">MySpace</a></li>
<li><a href="http://steamcommunity.com/groups/animeevolution">Steam</a></li>
<li><a href="http://www.youtube.com/animeevolutionpr">YouTube</a></li>

	</ul>
</td></tr>
 
		<tr><td>&nbsp;</td></tr>
		
		<tr><td class="sidebar_header">Twitter update</td></tr>
		<tr><td>
			<!--ul id="twitter_update_list" style="list-style: none; margin-left: 0px; padding-left: 0px;"></ul>-->
			<!--<ul class="twitter"><li class="twitter-item"> SkyTrain users: check out our new ads at Metrotown and Broadway stations! They're pretty spiffy if I do say so myself.  <span class="twitter-timestamp"><abbr title="2009/05/06 21:35:11">2009/05/06</abbr></span></li><li class="twitter-item"> Your very last chance to pre-reg in person this Sunday from 4-6 at Metropolis Comics & Toys. See this thread for info: <a href="http://is.gd/wc36" class="twitter-link">http://is.gd/wc36</a>  <span class="twitter-timestamp"><abbr title="2009/05/02 15:51:26">2009/05/02</abbr></span></li><li class="twitter-item"> Guest announcement! Sam Logan - writer and artist for the webcomic Sam and Fuzzy.  <a href="http://www.animeevolution" class="twitter-link">http://www.animeevolution</a>.com/?p=1362  <span class="twitter-timestamp"><abbr title="2009/04/30 19:01:32">2009/04/30</abbr></span></li></ul>-->
<div style="width:176px;text-align:center"><embed src="http://twitter.com/flash/twitter_badge.swf"  flashvars="color1=2639729&type=user&id=19849498"  quality="high" width="176" height="176" name="twitter_badge" align="middle" allowScriptAccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /><br><a style="font-size: 10px; color: #999999; text-decoration: none" href="http://twitter.com/animeevolution">follow animeevolution at http://twitter.com</a></div>

			<!--<a href="http://twitter.com/animeevolution" id="twitter-link">follow me on Twitter</a>-->
			</div>
			</td></tr>
		<tr><td>&nbsp;</td></tr>

		<tr><td class="sidebar_header">Sponsored by</td></tr>
		<tr><td align="center" style="padding-top: 5px"><a href="http://www.rightstuf.com/" target="_blank"><img src="http://www.animeevolution.com/main/wp-content/uploads/2009/04/right_stuff.jpg" border="0"></a></td></tr>


		</table>
</td>			</tr>
		</table>
		</td>
	</tr>
</table>
</body>
</html>
